{% load staticfiles %}

<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45185227-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45185227-16');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-B$

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
      .leaflet-container { height: 80%; }
</style>


<!-- Calcite Maps Bootstrap -->
  <link rel="stylesheet" href="{% static "css/calcite-maps-bootstrap.min-v0.7.css" %}">

  <!-- Calcite Maps -->
  <link rel="stylesheet" href="{% static "css/calcite-maps-arcgis-3.x.min-v0.7.css" %}"-->

  <!-- ArcGIS JS 3.x -->
  <link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/themes/calcite/dijit/calcite.css">
  <link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/themes/calcite/esri/esri.css">
</head>
<body>

{% block content %}{% endblock %}

</body>


