{% load staticfiles %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45185227-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45185227-16');
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Lock viewport to prevent scaling -->
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Haverford College - Community Partnerships Map">
  <meta name="author" content="">
  <link rel="icon" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-57x57.png">
  <title>Haverford College - Civic Engagement Map</title>

<!-- Calcite Maps Bootstrap -->
  <link rel="stylesheet" href="{% static 'calcite-maps/dist/css/calcite-maps-bootstrap.min-v0.7.css' %}">

  <!-- Calcite Maps -->
  <link rel="stylesheet" href="{% static 'calcite-maps/dist/css/calcite-maps-esri-leaflet.min-v0.7.css' %}">
  <link rel="stylesheet" href="{% static 'calcite-maps/lib/fonts/calcite/calcite-ui.css' %}">
  <!-- Load Leaflet from CDN-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.0.7"></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.3/dist/esri-leaflet-geocoder.css">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.3"></script>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .calcite-nav-bottom .calcite-map .leaflet-control-zoom {
      margin-top: 28px;
    }

    .calcite-navbar-search {
      margin-top: 0;
      margin-right: 5px;
      padding: 5px 0;
    }

    .calcite-nav-bottom .panel-body .geocoder-control-suggestions.leaflet-bar {
      top: 25px;
      bottom: auto;
    }

    .calcite-maps .esri-truncated-attribution {
      max-width: 100% !important;
      width: 100%;
    }

    .leaflet-touch .leaflet-bar {
      border: none;
    }
    .nav {
      background-color:#A20000;
    }
  </style>

</head>
<body class="calcite-maps calcite-nav-top calcite-layout-small-title">

  <!-- Navbar -->
  <nav class="navbar calcite-navbar navbar-fixed-top calcite-bg-dark calcite-text-light calcite-bgcolor-dark-red">
     <!-- Menu -->
    <div class="dropdown calcite-dropdown calcite-bg-custom calcite-text-light" role="presentation">
      <a class="dropdown-toggle" role="menubutton" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <div class="calcite-dropdown-toggle">
          <span class="sr-only">Toggle dropdown menu</span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <ul class="dropdown-menu calcite-bgcolor-dark-red">
      <!--  <li><a role="menuitem" tabindex="0" data-target="#panelInfo" aria-haspopup="true"><span class="glyphicon glyphicon-globe"></span> Advanced Search</a></li> -->
        <li><a class="visible-xs" role="button" data-target="#panelSearch" aria-haspopup="true"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a role="menuitem" tabindex="0" data-target="#panelBasemaps" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> About</a></li>
        <li><a role="menuitem" tabindex="0" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-fullscreen"></span> Full Map</a></li>
      </ul>
    </div>
    <!-- Title -->
    <div class="calcite-title calcite-overflow-hidden">
{% for interest in top_interests %}
    <form  action="" method="post">
    {% csrf_token %}
    <input style="color: white; background-color: #A20000; margin-top: 12px;" type="submit" class= "btn btn-light" name="search" value="{{ interest.area_of_interest__name }}" />
    </form>
{% endfor %}
<!--
      <span class="calcite-title-main">Haverford College</span>
      <span class="calcite-title-divider hidden-xs"></span>
      <span class="calcite-title-sub hidden-xs">Civic Engagement Map</span> 
-->
    </div>

     <!-- Nav -->

    <ul class="calcite-nav nav navbar-nav">
          <form style="margin-top: 7px;" action="" method="post">
          {% csrf_token %}
           {{ form.search }}
          <input type="submit" value="Search" />
          </form>
    </ul>
  </nav><!--/.navbar -->

  <!-- Map Container  -->

  <div class="calcite-map">                
    <div id="map" class="calcite-map-absolute"></div>    
  </div><!-- /.container -->

  <!-- Panel -->

  <div class="calcite-panels calcite-panels-left calcite-bg-custom calcite-text-light panel-group calcite-bgcolor-dark-red" role="tablist" aria-multiselectable="true">
  
    <!-- Info Panel -->

    <div id="panelInfo" class="panel collapse">
      <div id="headingInfo" class="panel-heading" role="tab">
        <div class="panel-title">
          <a class="panel-toggle" role="button" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="panel-label">Advanced Search</span></a> 
          <a class="panel-close" role="button" data-toggle="collapse" tabindex="0" href="#panelInfo"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>  
        </div>
      </div>
      <div id="collapseInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInfo">
        <div class="panel-body">            
          <b>Press ⌘  or Ctrl to select multiple.</b>
          <form action="" method="post">
          {% csrf_token %}
          <p>Language:</p> {{ form.language }}</br>
          <p>Area of Interest:</p> {{ form.area_of_interest }}</br>
          <p>Subject(s):</p> {{ form.subject }} <br>
          <input type="submit" value="Search" />
          </form>

        </div>
      </div>
    </div>

    <!-- Search Panel -->

    <div id="panelSearch" class="panel collapse hidden-sm hidden-md hidden-lg"> 
      <div id="headingSearch" class="panel-heading" role="tab">
        <div class="panel-title">
          <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapseSearch"  aria-expanded="false" aria-controls="collapseSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="panel-label">Search</span></a> 
          <a class="panel-close" role="button" data-toggle="collapse" tabindex="0" href="#panelSearch"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>        
        </div>
      </div>
      <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSearch">
        <div class="panel-body calcite-body-expander">    
            <div id="geocodeMobile"></div>
        </div>
      </div>
    </div>

    <!-- Basemaps Panel -->
<div class="column-8">
    {% if greeting == 'no' %}
    <div id="panelBasemaps" class="panel collapse">
    {% else %} 
    <div id="panelBasemaps" class="panel collapse in">
    {% endif %}
      <div id="headingBasemaps" class="panel-heading" role="tab">
        <div class="panel-title">
          <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapseBasemaps" aria-expanded="false"   aria-controls="collapseBasemaps"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><span class="panel-label">About</span></a> 
          <a class="panel-close" role="button" data-toggle="collapse" tabindex="0" href="#panelBasemaps"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>  
        </div>
      </div>
      <div id="collapseBasemaps" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingBasemaps">
        <div class="panel-body">
         Welcome to the Haverford College Civic Engagement Map!<br> <br>
         Here you will find organizations that we have worked with that offer possibilities for engagement through volunteer opportunities, internships, collaborative projects and more. Please reach out to the listed contact person before contacting the organization.

Do you have an organization you've worked with that should be on the map? <a href="https://forms.haverford.edu/view.php?id=592618"> Complete this form!</a>

Questions or concerns? Email <a href="mailto:ejohnson3@haverford.edu">Emily Johnson</a>

<br><br>
<a class="twitter-timeline" href="https://twitter.com/haverfordmap?ref_src=twsrc%5Etfw">Tweets by haverfordmap</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    </div>
  </div> <!-- /.calcite-panels -->
  
  <script>
    
    // ============
    // Esri-Leaflet 
    // ============
    var map = L.map('map', {zoomControl: false}).setView([39.969553, -75.256865], 12),
      layer = L.esri.basemapLayer('NationalGeographic').addTo(map),
      // layerLabels = L.esri.basemapLayer('xxxLabels').addTo(map);
      layerLabels = null,
      worldTransportation = L.esri.basemapLayer('ImageryTransportation');      


      //==========================
     //Things that Andy has added
     //==========================

     var data = {{ sites|geojsonfeature:"popupContent"|safe }};

      L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popupContent;
                var content = `<p>${props}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);


    //Not Stuff Andy has added


    function setBasemap(basemap) {
      if (layer) {
        map.removeLayer(layer);
      }
      if (basemap === 'OpenStreetMap') {
        layer = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
      }
      else {
        layer = L.esri.basemapLayer(basemap);
      }
      map.addLayer(layer);
      if (layerLabels) {
        map.removeLayer(layerLabels);
      }

      if (basemap === 'ShadedRelief' || basemap === 'Oceans' || basemap === 'Gray' || basemap === 'DarkGray' || basemap === 'Imagery' || basemap === 'Terrain') {
        layerLabels = L.esri.basemapLayer(basemap + 'Labels');
        map.addLayer(layerLabels);
      }
        
      // add world transportation service to Imagery basemap
      if (basemap === 'Imagery') {
        worldTransportation.addTo(map);            
      } else if (map.hasLayer(worldTransportation)) {
        // remove world transportation if Imagery basemap is not selected    
        map.removeLayer(worldTransportation);
      }
    }

    L.control.zoom({
      position:'topright'
    }).addTo(map);

    //var searchControl = L.esri.Geocoding.Controls.geosearch({expanded: true, collapseAfterResult: false, zoomToResult: false}).addTo(map);
    var searchControl = L.esri.Geocoding.geosearch({expanded: true, collapseAfterResult: false, zoomToResult: false}).addTo(map);
    
    searchControl.on('results', function(data){ 
      if (data.results.length > 0) {
        var popup = L.popup()
          .setLatLng(data.results[0].latlng)
          .setContent(data.results[0].text)
          .openOn(map);
        map.setView(data.results[0].latlng)
      }
    })
  
  </script>

  <!-- ====== -->
  <!-- jQuery --> 
  <!-- ====== -->

  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/vendor.js"></script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all plugins or individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script type="text/javascript">

    $(document).ready(function(){

      // Basemap changed
      $("#selectStandardBasemap").on("change", function(e) {
        setBasemap($(this).val());
      });

      // Search
      var input = $(".geocoder-control-input");
      input.focus(function(){
        $("#panelSearch .panel-body").css("height", "150px");
      });
      input.blur(function(){
         $("#panelSearch .panel-body").css("height", "auto");
      });

      // Attach search control for desktop or mobile
      function attachSearch() {
        var parentName = $(".geocoder-control").parent().attr("id"),
          geocoder = $(".geocoder-control"),
          width = $(window).width();
        if (width <= 767 && parentName !== "geocodeMobile") {
          geocoder.detach();
          $("#geocodeMobile").append(geocoder);
        } else if (width > 767 && parentName !== "geocode"){
          geocoder.detach();
          $("#geocode").append(geocoder);
        }
      }

      $(window).resize(function() {
        attachSearch();
      });

      attachSearch();

    });<!-- jQuery -->
  </script>

<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (for Bootstrap's JavaScript plugins). NOTE: You can also use pure Dojo. See examples. -->
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
  <!-- Include all  plugins or individual files as needed -->
  <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->

  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/vendor.js"></script-->
  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/plugins.js"></script-->
  <script src="{% static 'calcite-maps/dist/js/jquery/calcitemaps-v0.6.js' %}"></script>
</body>
</html>

